{% load staticfiles %}
{% load widget_tweaks %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr">
	<head>	
		<meta name="author" content="Samy Melaine">
		<meta http-equiv="Content-Type" content="text/html ; charset=utf-8" />
		<link rel="stylesheet" title="Style par défaut" type="text/css" href="{% static 'style.css' %}" />
		<!-- <link rel="stylesheet" type="text/css" href="bootstrap.min.css" /> -->
		<link rel="icon" type="image/png" href="favicon.png" />
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
		<title>PI Day !</title>
	</head>
	<body>
		<div align=center>
			<image src="{% static 'media/logo.png' %}" style="height:200px" align=center /> 
					<h1><big>Organisent pour la première fois en Algérie</big></h1>
		</div>
		

		<div id="presentation" align=center>
			<div id="cadre_presentation">
<br>
					<image src="{% static 'media/piday-logo.png'%}" style="height:500px"/>
			</div>

		
		<div id="form">


					<div id="subscribingover">
						<img src="{% static 'media/stop.png'%}" />
						<h2 id="Subscribing" style="color:red;">Oops ! Une erreur s'est produite, veuillez refaire votre inscription.</h2>
					</div>
					</div>



 		<div id="form" ><h3> Ingénieurs, mathématiciens, informaticiens physiciens … Vous avez tous un point un commun « The addiction to mathematics ». Ne ratez donc surtout pas l’EVENEMENT qui vous lie. <br> Ce samedi 14 mars aura lieu pour la première fois en Algérie " PI day", Célébrons le tous ensemble !</h3></div>
		<div>



		<div id="threeindications">
			<table><tr>
				<td id="conf">
					<div class="ind_icon"></div>
					<h2>Assistez aux conférences</h2>
					<p>Afin de concrétiser l'esprit de partage du club, des sessions de formations et d'ateliers y sont dispensés, par des étudiants souhaitant faire profiter leur savoir dans un quelconque domaine.</p>
				</td>
				<td id="gift">
					<div class="ind_icon"></div>
					<h2>Gagnez des cadeaux</h2>
					<p>Le club encourage ses adhérents à réaliser des projets collaboratifs mettant en pratique, si possible, plusieurs spécialités.</p>
				</td>
				<td id="pie">
					<div class="ind_icon"></div>
					<h2>Apportez vos tartes</h2>
					<p> Qui visent à impliquer des personnes externes au club (mais aussi à l'université) et partager ainsi avec eux, l’esprit du club.</p>
				</td>
			</tr></table>
		</div>
		<div class="sep sep_whitegray"></div>
		
		<div id="notes">
			<div id="notes_content">
				<br>
				<table>
				<tr>
					<td id="intern">
						<h2>Club Open Minds</h2>
					</td>
					<td id="money">
						<h2>Club d'acvitivé polyvalentes</h2>
					</td>
				</tr>
				<tr>
					<td>
						<a href="http://www.openmindsclub.org">www.openmindsclub.org</a>
						<br/><a href='https://www.facebook.com/openmindsclub'><img src="{% static 'media/facebook.png'%}" alt='Facebook'/></a><a href='https://twitter.com/clubopenminds'><img src="{% static 'media/twitter.png'%}" alt='Twitter'/></a>
					</td>
					<td>
						<a href="http://www.capenp.com">www.capenp.com</a>
						<br/><a href='https://www.facebook.com/CAP.ENP'><img src="{% static 'media/facebook.png'%}" alt='Facebook'/></a><a href='https://twitter.com/CAPENP'><img src="{% static 'media/twitter.png'%}" alt='Twitter'/></a>
					</td>
				</tr>
				</table>
			
				<div float=left><p class="textinthemiddle"> © 2015 - Open Minds Club - Samy Melaine </p></div>
			</div>
		</div>
		
	</body>
</html>
